<<<<<<< HEAD
<h1>Store</h1>

<h2>Store Items</h2>

<ul>
    {{#each item}}
        
</ul>
=======
<!DOCTYPE html>
<html>
    <head>
        <title>it works</title>
    </head>
    <body>
        {{{body}}}
    </body>
</html>
>>>>>>> 6cbbb20c920d3cea7d27f82664a38ce45fc585eb
