
<!DOCTYPE html>
<html>
    <head>
        <title>eStore</title>
        {{{_sections.head}}}
    </head>
    <body>
        {{{_sections.header}}}
        {{{_sections.body}}}
        {{{_sections.footer}}}
    </body>
    
</html>
