<p>This</p>
<button id="clickme">click</button>

<ul>
{{#each items}}
<li>
    {{this.storeItemId}}
</li>
{{/each}}
</ul>



<script
  src="https://code.jquery.com/jquery-3.4.0.min.js"
  integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
  crossorigin="anonymous"></script>
<script>
    

    $("#clickme").on("click", function(){

            $.ajax({
                method: "GET",
                url: "/api/ShoppingCarts/"
            }).then(function(_response){

                console.log(_response);
            });

        });
</script>