<p>This</p>
<hr>
<h3>Shopping-Cart-Controller</h3>
<button id="selectShoppingCartItems">Select Shopping Cart Items</button>
<button id="addOneShoppingCartItem">Add one Shopping Cart item</button>
<button id="selectOneShoppingCartItem">Select One Shopping Cart Item</button>
<button id="updateShoppingCartItem">Update Shopping Cart Item</button>
<button id="deleteShoppingCartItem">Delete Shopping Cart Item</button>
<hr>

<hr>
<h3>Store-Controller</h3>
<button id="selectShoppingCartItems">Select Shopping Cart Items</button>
<button id="addOneShoppingCartItem">Add one Shopping Cart item</button>
<button id="selectOneShoppingCartItem">Select One Shopping Cart Item</button>
<button id="updateShoppingCartItem">Update Shopping Cart Item</button>
<button id="deleteShoppingCartItem">Delete Shopping Cart Item</button>
<hr>


<ul>
    {{#each items}}
    <li>
        <p> store item: {{this.id}}</p>
    </li>
    {{/each}}
</ul>



<script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script>

    //Select All ShoppingCart Items
    $("#selectShoppingCartItems").on("click", function () {

        $.ajax({
            method: "GET",
            url: "/api/ShoppingCart/"
        }).then(function (_response) {

            console.log(_response);
        });

    });

    // Add one shopping cart item
    $("#addOneShoppingCartItem").on("click", function () {

        $.ajax({
            method: "POST",
            url: "/api/AddCartItem/",
            data: {
                storeItemId: 33333,
                curUserId: 333333
            }
        }).then(function (_response) {

            console.log(_response);
        });
    });

    //  Select One Shopping cart Item
    $("#selectOneShoppingCartItem").on("click", function () {

        $.ajax({
            method: "GET",
            url: "/api/SelectCartItem/",
            data: {}
        }).then(function (_response) {

            console.log(_response);
        });
    });

    //Update shopping cart item
    $("#updateShoppingCartItem").on("click", function () {

        $.ajax({
            method: "PUT",
            url: "/api/UpdateCartItem/1",
            data: {
                storeItemId: 55555555,
                curUserId: 555555555
            }
        }).then(function (_response) {

            console.log(_response);
        });
    });

        //Delete shopping cart item
    $("#deleteShoppingCartItem").on("click", function () {

        $.ajax({
            method: "DELETE",
            url: "/api/deleteCartItem/"
        }).then(function (_response) {

            console.log(_response);
        });
    });



</script>