
<p>User Name</p>

<form>
<input type="text" id = "userName">

<p>Password</p>
<input type= "text" id= "password">

<button id="submit">submit</button>
</form>


<script src="https://code.jquery.com/jquery-3.4.0.min.js"
    integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
<script>

    $("#submit").on("click", function(_e){

            _e.preventDefault();
        
        // check database to see if user name is matches
            // if it doesnt match throw an alert sayin so
        // check database if password matches
            // if it doesnt match throw an alert sayin so

    });
    
</script>